include mixins

doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/lib/bootstrap/dist/css/bootstrap.min.css')    
		link(rel='stylesheet', href='/lib/bootstrap/dist/css/bootstrap-theme.min.css')    
		link(rel='stylesheet', href='/stylesheets/style.css')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		script(src='/lib/jquery/dist/jquery.min.js')
		script(src='/lib/bootstrap/dist/js/bootstrap.min.js')
		script(src='/lib/angular/angular.js')
		script(src='/lib/raphael/raphael.js')
		script(src='/lib/justgage-bower/justgage.js')
		script(src='/lib/angular-gage/dist/angular-gage.min.js')
		script(src='/lib/highcharts.com/js/highcharts.src.js')
		script(src='/lib/highcharts-ng/dist/highcharts-ng.min.js')
		script(src='/monitor.js')
	body(ng-app="monitor")
		block nav
		.container
			block content
