extends layout

block nav
	+nav("Home Monitor", "dropdown_menu")
		+nav_item("/tests/forms", "active") API Test Forms

block content
	+panel("Add a sensor")
		form(method='get', action='/api/sensor', role="form")
			.form-group
				label(for='name').control-label Name:
				input(type='text',name='name',id='name').form-control
			.form-group       
				label(for='title').control-label Title:
				input(type='text',name='title',id='title').form-control
			.form-group 
				label(for='type').control-label Type:
				input(type='text',name='type',id='type').form-control
			.form-group
				label(for='min').control-label Min:
				input(type='text',name='min',id='min').form-control
			.form-group			
				label(for='max').control-label Max:
				input(type='text',name='max',id='max').form-control
			input(type='submit',name='submit',value='Submit').btn.btn-default
	+panel("Add a reading")
		form(method='get', action='/api/reading', role="form")
			.form-group
				label(for='name').control-label Sensor Name:
				input(type='text',name='name',id='name').form-control
			.form-group       
				label(for='reading').control-label Sensor Reading:
				input(type='text',name='reading',id='reading').form-control
			input(type='submit',name='submit',value='Submit').btn.btn-default